# Core application dependencies.
aksharamukha>=2.2,<3
esupar>=1.7.5
flask>=2.3,<3
flask-cors>=4.0,<5
pykakasi>=2.3,<3
python-dotenv>=1.0,<2
pyyaml>=6.0,<7
regex>=2023.8.8
uwsgi>=2.0,<2.1
yiddish==0.0.21
