{% extends "layout.html" %}
{% set title ='Transliterate string' %}
{% block body %}
    <form action="/transliterate" method="POST">
        <fieldset>
            <label for="text">Input text</label>
            <textarea id="text" name="text"></textarea>
            <label for="lang">Language</label>
            <select id="lang" name="lang">
                {% for k, v in languages.items() %}
                    <option value="{{ k }}">{{ v["name"] }}</option>
                {% endfor %}
            </select>
            <label class="label-inline" for="r2s">Roman-to-Script</label>
            <input type="checkbox" id="r2s" name="r2s">
        </fieldset>
        <fieldset>
            <input class="button-primary" type="submit" value="Transliterate!">
        </fieldset>
    </form>
    </div>
{% endblock %}
