<nav class="navigation">
        <ul class="menu">
            <li><a href="/">Index</a></li>
            <li>
              <a>About</a>
              <ul class="submenu">
                <li><a href="/page/local:about_lii">LII</a></li>
                <li><a href="/page/local:about_author">The Author</a></li>
                <li><a href="/page/local:about_mindmap">This Site</a></li>
                <li><a href="/page/local:contact">Contact</a></li>
              </ul>
            </li>
            <li>
              <a>Browse Types</a>
              <ul class="submenu">
              {% for type in types %}
                  <li>
                      <a href="/browse/type/{{ type }}">
                        {{ type }}
                      </a>
                  </li>
              {% endfor %}
              </ul>
            </li>
            <li><a href="/view/random">Random Pick</a></li>
            <li><a href="/page/local:ontology">Ontology</a></li>
        </ul>

</nav>

